<div class="jumbotron center">
  <h1 class="display-4">Gude Laune Blog</h1>
  <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-danger btn-lg center" %>
</div>

<%= link_to  "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>